@charset "UTF-8";

body {
    text-align: center;
    font: normal 20px 'Courier New', Courier, monospace;
    background-color: aqua;
}

.buttom {
    width: 300px;
    height: 60px;
    font-size: 20px;
}

.buttom:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.339);
}

mark{
    background-color: aquamarine;
    padding: 5px;
}

.m2{
    background-color: rgb(13, 192, 25);
}

main {
    background-color: white;
    max-width: 700px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.465);
    margin: 40px auto 0px auto;
}