@charset "UTF-8";

body{
    background-color: rgb(232, 232, 232);
}

header{
    text-align: center;
    font: normal normal 1.1rem arial;
}

.button{
    padding: 5px;
    margin-top: 20px;
    border-radius: 3px;
    border: solid 1px;
}

.button:hover{
    text-align: center;
    font: normal normal 1.1rem arial;
    position: relative;
    transition: all 0.3s ease;
    transform: translateY(-10px);
    transition: all 0.3s ease 0.2s;
    border: solid 1px;
    border-radius: 3px;
}

#txtano{
    background: rgb(235, 220, 201);
    border-radius: 20px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.09);
    text-align: center;
    padding: 4px;
    font-weight: bold;
}

section{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    max-width: 300px;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.355);
}

#resp{
    margin: 10px;
}

#foto{
    filter: drop-shadow(0px 0px 8px rgba(162, 87, 3, 0.421));
}

footer{
    text-align: center;
}