@charset "UTF-8";

body{
    background-color: azure;
    text-align: center;
}

header{
    text-align: center;
    font: normal bold 1.1rem arial;
}

.button{
    border: solid 1px;
    margin: 20px;
}

.button:hover{
    text-align: center;
    font: normal normal 1.1rem arial;
    position: relative;
    transition: all 0.3s ease;
    transform: translateY(-10px);
    transition: all 0.3s ease 0.2s;
    border: solid 1px;
    border-radius: 3px;
}

#txtano{
    background-color: rgb(235, 220, 201);
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    padding: 4px;
    box-shadow: inset 0px 0px 8px rgba(71, 60, 6, 0.182);
    margin-bottom: 10px;
}

section{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    max-width: 300px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.276);
}

#resp{
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.259));
}