@charset "UTF-8";

:root {
    --cor1: #5BBEF5;
    --cor2: #F5F15B;
    --cor3: #5B6DF5;
    --font: 'Courier New', Courier, monospace;
}

body {
    font: normal normal 18px var(--font);
    text-align: center;
    background-color: var(--cor1);
}

header {
    background-color: white;
    font: normal 16px arial;
    max-width: 560px;
    margin: auto;
    border-radius: 2px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.248);
}

main {
    background-color: white;
    color: white;
    max-width: 560px;
    margin: auto;
    padding: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.248);
    border-radius: 2px;
}

#hr {
    background-color: white;
    width: 100px;
    color: black;
    margin: auto;
    border: solid 1px black;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.248);
}

#result {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

section {
    background-color: var(--cor3);
    margin-bottom: 10px;
    border-radius: 3px;
}

footer>p {
    background-color: var(--cor3);
    border-radius: 3px;
    margin: 0px;
}

input {
    font: normal bold 20px var(--font);
    margin: 5px;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.248);
    background-color: var(--cor2);
    color: black;
    width: 200px;
    height: 30px;
}

img {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.398));
}