@charset "UTF-8";

:root {
    --cor1: rgb(17, 136, 205);
    --cor2: rgb(224, 214, 196);
    --cor3: rgba(240, 91, 91, 0.612);
    --cor4: rgba(107, 213, 107, 0.614);
}

body {
    background-color: var(--cor1);
    color: white;
    text-align: center;
}

main {
    background-color: var(--cor2);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    padding: 30px;
    border-radius: 20px;
    text-align: left;
    margin: auto;
    max-width: 450px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.493);
}

.selecao {
    background-color: rgb(205, 196, 178);
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.22);
    padding: 5px;
    border-radius: 3px;
}

#numb {
    background-color: rgb(198, 189, 171);
    border: none;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.22);
    margin: 10px;
    min-width: 240px;
    text-align: center;
}

option{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

mark{
    background-color: var(--cor3);
    padding: 3px;
}

.button {
    margin: 10px;
    width: 100px;
    height: 30px;
}

footer {
    margin: 10px;
    font-size: 20px;
}