section{
    font: normal normal 17px arial;
    background-color: cadetblue;
    padding: 13px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.531);
}

.button{
    padding: 10px;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.547);
}

#card1{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    max-width: 370px;
    margin: 20px auto;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.55);
}

#saida{
    text-align: justify;
    margin-top: 20px;
}

#card2{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    max-width: 370px;
    margin: 50px auto;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.55);
}

#saida{
    font: normal normal 17px arial;
    background-color: cadetblue;
    padding: 13px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.531);
}

#saida2{
    font: normal normal 17px arial;
    background-color: cadetblue;
    padding: 13px;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.531);
}